
<nav>

  <ul class="navbar">
    <li><a routerLink="home" routerLinkActive="active">HOME</a></li>
    <li><a routerLink="aboutus" class="aboutclass" routerLinkActive="active">ABOUT US</a></li>
    <li><a routerLink="contactus" routerLinkActive="active">CONTACT US</a></li>
    <li><a routerLink="resources"
 routerLinkActive="active">RESOURCE</a></li>
  </ul>
</nav>







  <router-outlet></router-outlet>




<!-- <div *ngFor="let mark of marks">
  <h3 [style.color]="(mark|grade).color">{{(mark | grade).grade}}</h3>

</div> -->